Importing pandas.
The import pandas statement instructs Python to import the pandas library into our environment. The as pd section of the code instructs Python to assign pandas the alias pd. we can utilize pandas functions by just typing pd.

In [101]:
import pandas as pd

•	Read in the data into a pandas dataframe.

Loading and reading the csv file into the pandas dataframe, because the 4 first row of the csv file are empty we need to skip 4 rows to load and read the file.

In [102]:
df = pd.read_csv('API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_4028587.csv', skiprows=4)

•	Display the usual basic information (datatypes, names, non-null values for columns) about the dataframe.

Method info() helps us to show the basic information of the Dataframe, including the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values). also we can use many other methods to show the information for example for showing the data type we can use datatype().

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            31 non-null     float64
 5   1961            31 non-null     float64
 6   1962            31 non-null     float64
 7   1963            31 non-null     float64
 8   1964            31 non-null     float64
 9   1965            32 non-null     float64
 10  1966            32 non-null     float64
 11  1967            32 non-null     float64
 12  1968            32 non-null     float64
 13  1969            32 non-null     float64
 14  1970            32 non-null     float64
 15  1971            151 non-null    float64
 16  1972            151 non-null    float64
 17  1973            151 non-null    float64
 18  1974            151 non-null    float64
 19  1975            151 non-null    float64
 20  1976            151 non-null    float64
 21  1977            151 non-null    float64
 22  1978            151 non-null    float64
 23  1979            151 non-null    float64
 24  1980            151 non-null    float64
 25  1981            152 non-null    float64
 26  1982            152 non-null    float64
 27  1983            152 non-null    float64
 28  1984            152 non-null    float64
 29  1985            153 non-null    float64
 30  1986            153 non-null    float64
 31  1987            153 non-null    float64
 32  1988            153 non-null    float64
 33  1989            153 non-null    float64
 34  1990            207 non-null    float64
 35  1991            177 non-null    float64
 36  1992            177 non-null    float64
 37  1993            177 non-null    float64
 38  1994            177 non-null    float64
 39  1995            179 non-null    float64
 40  1996            179 non-null    float64
 41  1997            179 non-null    float64
 42  1998            179 non-null    float64
 43  1999            179 non-null    float64
 44  2000            184 non-null    float64
 45  2001            184 non-null    float64
 46  2002            184 non-null    float64
 47  2003            184 non-null    float64
 48  2004            217 non-null    float64
 49  2005            218 non-null    float64
 50  2006            218 non-null    float64
 51  2007            218 non-null    float64
 52  2008            185 non-null    float64
 53  2009            185 non-null    float64
 54  2010            185 non-null    float64
 55  2011            185 non-null    float64
 56  2012            186 non-null    float64
 57  2013            186 non-null    float64
 58  2014            179 non-null    float64
 59  2015            40 non-null     float64
 60  2016            0 non-null      float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
 65  2021            0 non-null      float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

•	Display the dataframe. 

For displying a dataframe just need to call the name of the dataframe, in this case our original dataframe name is df.

In [104]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•	Find out what values occur under "Indicator Name".

To find what values occures under 'Indicator Name' we use: df['Column'].values[number of index] we need to mention the column name and also mention the index number in values to show the value under a column.

In [105]:
df['Indicator Name'].values[0]

'Energy use (kg of oil equivalent per capita)'

•	Set the name of the columns to the only value you found under "Indicator Name" (the columns and their labels remain the same!). (Apply the operation to your dataframe!)

For naming a column we used df.rename_axis("the name prefered name", axis=1) when axis = 1 means columns and 0 means index, in this case we want to name a column, and for applying the operation to our dataframe we need to use inplace = True.

In [106]:
df.rename_axis('Energy use (kg of oil equivalent per capita)', axis= 1, inplace = True)
df

Energy use (kg of oil equivalent per capita),Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•	Create a new dataframe dfcode which contains the "Country Code" and "Country Name" columns of your original dataframe. You will continue working with your original dataframe, in what follows, though. 

For creating a new dataframe as dfcode, we need to use dfcode equals to the original dataframe that name is df and mention the columns that we want to show in the dataframe, then by calling the new dataframe(dfcode) we can see the index, country name and values under it and country code and values under it.

In [107]:
dfcode = df[['Country Name','Country Code']]
dfcode

Energy use (kg of oil equivalent per capita),Country Name,Country Code
0,Aruba,ABW
1,Africa Eastern and Southern,AFE
2,Afghanistan,AFG
3,Africa Western and Central,AFW
4,Angola,AGO
...,...,...
261,Kosovo,XKX
262,"Yemen, Rep.",YEM
263,South Africa,ZAF
264,Zambia,ZMB
265,Zimbabwe,ZWE

•	Remove the "Country Code", "Indicator Name", "Indicator Code" columns. (Apply the operation to your dataframe!) 

For removing columns we can use drop() and mention the columns that we want to remove, then for applying it to the dataframe we need to set inplace True, and for mentioning that the names we mentioned are columns we set axis equals 1.

In [108]:
df.drop(['Country Code', 'Indicator Name', 'Indicator Code'], inplace=True, axis=1)
df

Energy use (kg of oil equivalent per capita),Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•	Make the column "Country Name" the index of your dataframe. (Apply the operation to your dataframe!) 

Using the df.set index() function and mentioning the column, we can replace an existing index with a column that we be the new index. for applying the operation to the dataframe we use inplace = True,

In [109]:
df.set_index('Country Name', inplace= True)
df

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•	Get rid of columns which contain no values. (Apply the operation to your dataframe!)

When we want to remove columns which contain no values we need to use df.dropna() it means remove na, and we need to mentioned the axis = 1 for the column and how = 'all' for clarifying that we want to remove columns that all of the values are na (not any value) which are years 2016 to 2021 and a column which is unnamed without value.

In [110]:
df.dropna(inplace= True, axis= 1, how='all')
df

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN

•	Display the basic statistics by year, incl. minimal, maximal, mean, median, standard deviation values. (Make sure you display these values for all the years!) 
The describe() is a method that uses for calculating basic statistical such as percentile, mean, std, count, min and max, so we used df.describe() and cosidering that axis is 0 by default no need to mention it, because we want to show statistis for all years!

In [111]:
df.describe()

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,31.000000,31.000000,31.000000,31.000000,31.000000,32.000000,32.000000,32.000000,32.000000,32.000000,...,218.000000,218.000000,185.000000,185.000000,185.000000,185.000000,186.000000,186.000000,179.000000,40.000000
mean,2385.557701,2420.522343,2521.248064,2656.031388,2764.165888,2808.617513,2888.296140,2971.440337,3159.186478,3345.323936,...,2189.433670,2210.417032,2476.819532,2387.819504,2456.581471,2457.349934,2440.925873,2415.142058,2469.420530,4228.048343
std,1997.388654,1981.575639,1971.311855,1992.182413,2089.070745,2058.798654,2027.148878,2031.838164,2149.346255,2265.936663,...,2718.487679,2764.429890,2866.536710,2774.819394,2794.014904,2866.836003,2825.271829,2778.375344,2831.067998,2636.517633
min,289.057068,322.490578,350.101258,367.811430,410.251827,440.882938,451.750814,483.951995,496.911773,511.562002,...,9.548060,9.562510,127.691109,130.312563,135.356451,113.090448,63.669707,65.393340,66.342002,1537.261412
25%,1401.298789,1455.073445,1568.387025,1725.539544,1791.042783,1740.689139,1806.366083,1882.015370,2019.225182,2205.954140,...,534.374869,561.820885,669.248983,678.885854,689.979694,685.096390,687.115215,684.425821,687.226862,2774.535661
50%,1906.174930,1937.644745,2081.011621,2268.427890,2341.146313,2435.746815,2496.625915,2575.607415,2802.166121,2982.833004,...,1186.527846,1178.664557,1361.676113,1372.857957,1405.040886,1500.169212,1456.648530,1467.540103,1538.264100,3746.158627
75%,2787.029421,2824.192050,2943.750064,3104.157719,3224.790698,3324.413804,3402.928113,3545.290830,3727.672624,3813.962163,...,2839.912809,2791.245544,3129.127764,3106.686165,3152.003605,3085.941056,3077.479399,3018.274853,3031.115363,4846.703199
max,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,...,19155.852524,18167.491902,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17922.703788,17478.893037

•	What can you conclude from the yearly descriptives? Answer in a markdown cell. 
-The count shows the number of values occur under each year(column).

-The mean shows the average of all values of each year, sum of the values/nmber of values for each year.

-The std shows standard deviation of all values of each year, It determines the amount of data dispersion of a set and is considered one of the most important scales in the field of descriptive statistics. For example, the std in 1960 is lower than in 1964, which means that the dispersion of values in 1960 is more toward the mean than in 1964.

-25%,50%,75% In descriptive statistics, each of the three values that divides a set of ordered data into four equal parts is called a quartile. In this way, each of those sections represents a quarter of the sample or population.

-min and max show us the minimum value and maximum value of each year.

•	Display the basic statistics by country, incl. minimal, maximal, mean, median, standard deviation values. (Make sure you display these values for all the countries!) 

For showing basic statistics by country we use describe but in this case that we need to calsulate the coulums based on rows(Countries) we need to mention the axis equals 1 and use apply to apply describe along an axis, and we created a new dataframe which is df2 to use it for next task.

In [112]:
df2 = df.apply(pd.DataFrame.describe, axis= 1)
df2

,count,mean,std,min,25%,50%,75%,max
Country Name,,,,,,,,
Aruba,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,44.0,774.382105,33.741279,725.668196,747.688295,771.573635,789.454763,844.156930
Afghanistan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,44.0,569.449117,23.837452,511.982019,560.362458,569.460212,580.080214,624.240458
Angola,44.0,507.655185,57.699718,433.572486,466.935088,491.890571,536.473026,663.408901
...,...,...,...,...,...,...,...,...
Kosovo,15.0,1216.102185,133.739458,908.608824,1142.072713,1179.568641,1303.548071,1411.472920
"Yemen, Rep.",43.0,223.657474,75.290318,90.216323,166.481024,221.497822,277.174915,358.642325
South Africa,44.0,2486.783900,238.607050,1984.178909,2360.769433,2511.510478,2680.480274,2950.153610
Zambia,43.0,697.211345,92.585850,599.104868,615.968344,672.573813,771.098653,885.569471
Zimbabwe,43.0,857.661556,66.749616,724.292388,822.144282,851.163079,893.365965,998.262763

•	Display the basic statistics of your previous by country-statistics (i.e., the mean of country means, etc.). 

To display the basic statistics of our previous calculation we also need to use describe but on the new dataframe we created (df2), it shows us for example mean of means that were on the previous calculations.

In [113]:
df2.describe()

,count,mean,std,min,25%,50%,75%,max
count,266.000000,220.000000,219.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,29.992481,1895.796955,456.997254,1105.604629,1617.384096,1894.713150,2200.927342,2718.246666
std,20.445970,2368.170137,840.838073,1317.515592,1986.833783,2310.093780,2902.359277,3974.368573
min,0.000000,12.400284,0.725879,9.548060,9.558898,11.760481,14.601868,16.532114
25%,5.000000,520.734943,72.313997,333.756270,465.168462,534.788916,562.443391,657.513271
50%,44.000000,999.663055,226.716363,538.671310,784.783249,985.088449,1132.643330,1503.563895
75%,44.000000,2513.184092,515.951663,1442.352848,2257.972452,2602.494966,2892.962309,3387.217395
max,56.000000,18278.542119,8751.700807,8775.992603,14525.570902,15664.302283,25096.176193,40710.112176

•	Display the first thirty rows of your original dataframe after sorting by the values for the last year in descending order. (Do not apply sorting to your original dataframe, just display!) 

For sorting values by for the last year(2015) we used df.sort_values() and we mentioned the last year of dataframe by df.columns[len(df.columns)-1] and for descending order we use ascending = Fals, and then we mention the head(30) to show the first 30 rows.

In [114]:
df.sort_values(df.columns[len(df.columns)-1], ascending = False).head(30)

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,...,12734.006623,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037
Canada,4251.435911,4307.820754,4451.560116,4694.120070,4903.607607,5153.932412,5272.664705,5557.291740,5871.520391,6091.100010,...,8239.946371,8213.389543,8194.880771,7797.121136,7788.560786,7911.554588,7733.411655,7743.725742,7897.855615,7631.341570
North America,5516.355617,5494.086457,5654.544543,5869.044418,6024.094790,6201.770587,6469.291448,6693.144005,6960.887266,7215.690803,...,7751.023404,7802.975780,7557.741461,7129.923196,7223.540273,7117.469938,6957.807503,6989.336549,7054.546992,6886.867395
United States,5641.740755,5612.079503,5774.586315,5986.783954,6136.938230,6307.890202,6591.340558,6809.820484,7073.478949,7332.368547,...,7697.652535,7758.165986,7488.081921,7056.783653,7161.426552,7029.954601,6872.027284,6905.598633,6960.683997,6803.996607
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,...,9170.532565,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,...,7111.856822,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,...,5833.773935,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603
Australia,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,...,5709.344668,5868.347097,5964.665776,5862.551944,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4412.527118,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857
Sweden,2698.792303,2742.123469,2887.236252,3080.414075,3273.508965,3437.540770,3636.643857,3630.194139,4000.823278,4303.223917,...,5529.077953,5472.135392,5379.959103,4883.200490,5427.925046,5274.643613,5269.485998,5146.533590,4966.435921,5102.785578
Post-demographic dividend,2812.288505,2848.671622,2969.271547,3127.901363,3237.046840,3322.748351,3451.971626,3598.324256,3789.854003,4002.759555,...,5062.557601,5052.125772,4956.090469,4689.926261,4839.709438,4715.829837,4645.969887,4634.860177,4581.856680,4761.342406
Belgium,2519.497320,2570.815623,2810.061148,3043.306993,3021.647212,3116.033563,3051.297429,3182.923458,3590.004258,3877.044364,...,5470.491824,5336.963212,5454.667159,5196.581983,5539.472223,5092.316147,4845.488295,4997.463306,4708.221218,4687.787049
High income,2761.770337,2799.712478,2918.228582,3069.538122,3175.606633,3260.613930,3386.580276,3528.933844,3715.710693,3925.175007,...,5120.124566,5117.250804,5041.483414,4801.117739,4955.046866,4833.306612,4792.683823,4780.491646,4745.009656,4605.417875
New Zealand,1685.788431,1763.259908,1791.461322,1924.229007,2176.168871,2241.415690,2286.231175,2188.693513,2319.300244,2374.228578,...,4047.318023,4054.495004,4082.723367,4073.238042,4225.094582,4177.025547,4357.809714,4360.305936,4553.026901,4431.514731
Netherlands,1825.934253,1879.150201,2081.011621,2268.427890,2349.083542,2493.153897,2605.566956,2762.802483,3042.809658,3362.787219,...,4925.112417,4908.898261,4848.013690,4722.106039,5025.320916,4636.701904,4646.255241,4600.182976,4325.523712,4233.043857
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3775.035083,4243.648000,4105.417736,3648.978843,4222.737190,4237.729191,4174.387766,4623.279112,4592.616457,4173.326583
OECD members,2666.979333,2702.066693,2815.604186,2959.832864,3060.624410,3142.695789,3263.071753,3397.790606,3575.071346,3773.843018,...,4442.476586,4430.226835,4342.310176,4124.844237,4234.289299,4135.236445,4082.581227,4075.025905,4020.681015,4130.433023
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4491.516134,4468.960352,4330.712691,4034.743510,4237.896741,4077.356059,4054.085018,3989.991414,3915.113582,3860.002964
Germany,1952.588632,1994.324633,2124.848539,2281.289928,2341.146313,2378.339732,2387.684875,2388.412347,2561.522585,2772.010929,...,4204.654689,3985.811955,4036.830781,3790.501152,3997.079421,3869.816229,3876.948104,3939.529563,3779.461921,3817.549415
Austria,1546.261468,1554.034906,1675.873621,1823.995225,1855.085155,1851.843564,1902.756408,1920.212124,2045.828123,2181.632309,...,4078.812226,4019.590170,4032.148426,3798.151168,4051.196020,3921.900515,3886.767732,3919.044419,3763.327903,3800.299420
France,1699.250872,1745.201546,1861.042066,1983.465817,2085.161125,2109.853284,2122.916294,2248.078179,2359.882863,2536.665017,...,4188.843259,4115.527240,4110.585978,3913.457942,4016.848071,3847.072200,3836.656299,3833.534259,3659.087795,3692.017833
Japan,867.203098,971.998193,1013.257624,1147.292732,1272.480553,1374.528657,1491.027708,1735.123229,1939.416361,2214.061417,...,4053.883437,4012.654245,3858.434521,3678.511133,3893.266604,3610.812169,3537.363170,3567.629354,3470.763129,3428.557216
Euro area,1403.942741,1455.391774,1567.862991,1686.600242,1762.650228,1816.950549,1865.290820,1941.655973,2093.376337,2262.920459,...,3839.733408,3757.199292,3730.766504,3511.673650,3627.005544,3486.357144,3445.622781,3405.038746,3266.227788,3329.025613
European Union,1487.664770,1541.096121,1653.838779,1764.478845,1840.896534,1885.710374,1940.340911,2010.271280,2157.420746,2330.845753,...,3618.557891,3554.913925,3533.836425,3321.340737,3448.023600,3335.592017,3288.247279,3242.639196,3123.595656,3278.352078
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3648.982893,3632.565326,3836.621785,3496.229535,3579.072461,3567.983036,3424.040145,3330.990076,3236.236045,3174.872585
Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3469.291394,3320.454722,3405.692968,3106.686165,3306.805544,3213.949767,3080.725034,3130.926574,2943.189160,3003.664220
Switzerland,1398.654836,1454.755116,1568.911060,1869.587498,1819.435337,1943.600516,1966.692137,2040.827900,2172.603883,2334.444030,...,3619.151639,3410.819883,3499.790982,3481.852845,3347.618356,3205.328271,3202.834337,3304.115438,3059.936749,2960.073389
Ireland,1318.812487,1396.466152,1412.729677,1453.962105,1522.194973,1511.904911,1629.591872,1767.425106,1881.149354,1974.588853,...,3424.160852,3416.030946,3293.884635,3149.565141,3152.003605,2865.374740,2853.064865,2814.982690,2741.574884,2819.875852
Denmark,1922.973673,2023.308390,2296.289563,2502.927644,2600.155821,2822.734845,3067.427832,3061.110107,3203.752279,3699.530444,...,3728.171039,3622.596833,3501.513847,3329.211067,3510.796850,3230.188031,3091.581580,3125.337760,2872.573547,2816.614565
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2882.399025,2898.153368,3129.127764,2873.876109,3042.434021,2980.176157,3067.742494,2870.098765,2762.505934,2777.875324

•	What are some of the conclusions you can draw from the data you displayed (e.g., about the "countries" in the data)?

 •	Calculate the difference between the (0-filled) values for the years 2010 and 2000 by country, sort it in a descending order, and display the first 30 rows. What are some of the conclusions you could draw from what you see? 

First we set zero instead of nan values then we calculate the difference between 2010 and 2000, for setting zero instead of nan we use numpy so first we need to import numpy as np, and then use df.replace(), then we use difference as a sundataframe that have the values of 2010-2000 and we sort it using difference.sort_values() in decsending order by set the ascending equals False and showing the first 30 rows by head(30).

In [115]:
import numpy as np
df.replace(np.nan, 0)
difference = df['2010']-df['2000']
difference.sort_values(ascending = False).head(30)

Country Name
Trinidad and Tobago                            7343.881646
Iceland                                        5931.617954
Oman                                           2817.166090
Saudi Arabia                                   2028.716721
Gabon                                          1931.836600
Kazakhstan                                     1837.648729
Caribbean small states                         1773.999293
Kuwait                                         1569.504601
Brunei Darussalam                              1180.641360
Turkmenistan                                   1164.474277
Norway                                         1108.512430
China                                          1055.735243
Korea, Rep.                                    1042.816465
Gibraltar                                      1037.278934
Iran, Islamic Rep.                              894.791886
Estonia                                         848.028800
Late-demographic dividend                       791.572455
East Asia & Pacific (IDA & IBRD countries)      789.415631
East Asia & Pacific (excluding high income)     778.339797
Upper middle income                             721.507825
East Asia & Pacific                             707.439099
Luxembourg                                      652.641236
Thailand                                        605.452916
Middle East & North Africa                      597.518172
Russian Federation                              594.763584
Bosnia and Herzegovina                          590.489037
Finland                                         566.591674
Latvia                                          530.193540
Kosovo                                          496.432062
Malaysia                                        493.635326
dtype: float64

•	Display the mean values by year as a percentage of the maximal values for that year (e.g., if the mean value for 1965 were 200, and the maximal for 1965 were 400, then for 1965, you should be displaying 50). 

-First we need calculate the mean of dataframe by df.mean() and then calculate the max of dataframe by df.max divid the mean on max then multiply by 100, we combined this process like df3 = df.mean()/df.max*100.

In [116]:
df3 = df.mean()/df.max()*100
df3

Energy use (kg of oil equivalent per capita)
1960    22.669063
1961    22.978148
1962    24.208922
1963    25.378166
1964    24.790614
1965    25.704887
1966    27.558484
1967    28.676396
1968    28.423581
1969    27.937783
1970    29.908848
1971     4.648137
1972     4.854237
1973     4.650674
1974     4.936191
1975     6.891470
1976     6.512473
1977     6.714076
1978     7.621300
1979     7.911123
1980     7.606008
1981     7.969176
1982     7.358451
1983     6.937944
1984    10.107683
1985    13.011385
1986    13.287579
1987    13.817290
1988    14.030779
1989    14.496496
1990    14.650733
1991    14.829843
1992    13.987773
1993    13.492196
1994    13.526670
1995    13.459529
1996    13.153490
1997    11.766205
1998    11.653551
1999    11.285838
2000    12.071856
2001    11.602816
2002    10.760776
2003    11.293554
2004     9.663841
2005    11.080832
2006    11.429581
2007    12.166881
2008    15.145194
2009    14.119852
2010    14.430814
2011    13.533453
2012    13.845241
2013    13.285970
2014    13.778170
2015    24.189451
dtype: float64

•	Display the countries (not the subdataframe, just the countries!) where the values for all years are missing. 

To display coutries which don't have values for all years we use df.isna(), isna function looks for missing values on dataframe and shows the indexes which don't have values for all years.

In [117]:
df[df.isna()]

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

•	Display the subdataframe with the countries whose final year's values are bigger than the final year values' mean.

Using df.loc[] helps us to access to rows or columns by label or boolean array, we need to calculate the mean of last year column(2015) and then see which values of last year(using df.loc[]) are bigger than means of it and show the results.

In [121]:
df4 = df.loc[df[df.columns[len(df.columns)-1]] > df[df.columns[len(df.columns)-1]].mean()]
df4

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Australia,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,...,5709.344668,5868.347097,5964.665776,5862.551944,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402
Belgium,2519.497320,2570.815623,2810.061148,3043.306993,3021.647212,3116.033563,3051.297429,3182.923458,3590.004258,3877.044364,...,5470.491824,5336.963212,5454.667159,5196.581983,5539.472223,5092.316147,4845.488295,4997.463306,4708.221218,4687.787049
Canada,4251.435911,4307.820754,4451.560116,4694.120070,4903.607607,5153.932412,5272.664705,5557.291740,5871.520391,6091.100010,...,8239.946371,8213.389543,8194.880771,7797.121136,7788.560786,7911.554588,7733.411655,7743.725742,7897.855615,7631.341570
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,...,7111.856822,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125
High income,2761.770337,2799.712478,2918.228582,3069.538122,3175.606633,3260.613930,3386.580276,3528.933844,3715.710693,3925.175007,...,5120.124566,5117.250804,5041.483414,4801.117739,4955.046866,4833.306612,4792.683823,4780.491646,4745.009656,4605.417875
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,...,12734.006623,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4412.527118,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,...,9170.532565,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559
North America,5516.355617,5494.086457,5654.544543,5869.044418,6024.094790,6201.770587,6469.291448,6693.144005,6960.887266,7215.690803,...,7751.023404,7802.975780,7557.741461,7129.923196,7223.540273,7117.469938,6957.807503,6989.336549,7054.546992,6886.867395
Netherlands,1825.934253,1879.150201,2081.011621,2268.427890,2349.083542,2493.153897,2605.566956,2762.802483,3042.809658,3362.787219,...,4925.112417,4908.898261,4848.013690,4722.106039,5025.320916,4636.701904,4646.255241,4600.182976,4325.523712,4233.043857
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,...,5833.773935,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603
New Zealand,1685.788431,1763.259908,1791.461322,1924.229007,2176.168871,2241.415690,2286.231175,2188.693513,2319.300244,2374.228578,...,4047.318023,4054.495004,4082.723367,4073.238042,4225.094582,4177.025547,4357.809714,4360.305936,4553.026901,4431.514731
Post-demographic dividend,2812.288505,2848.671622,2969.271547,3127.901363,3237.046840,3322.748351,3451.971626,3598.324256,3789.854003,4002.759555,...,5062.557601,5052.125772,4956.090469,4689.926261,4839.709438,4715.829837,4645.969887,4634.860177,4581.856680,4761.342406
Sweden,2698.792303,2742.123469,2887.236252,3080.414075,3273.508965,3437.540770,3636.643857,3630.194139,4000.823278,4303.223917,...,5529.077953,5472.135392,5379.959103,4883.200490,5427.925046,5274.643613,5269.485998,5146.533590,4966.435921,5102.785578
United States,5641.740755,5612.079503,5774.586315,5986.783954,6136.938230,6307.890202,6591.340558,6809.820484,7073.478949,7332.368547,...,7697.652535,7758.165986,7488.081921,7056.783653,7161.426552,7029.954601,6872.027284,6905.598633,6960.683997,6803.996607

•	Load the "capital.json" file, and arrive at a dataframe capitaldf containing the name, capital, iso2, iso3 information (these three should end up as the columns) for every country in it. 

For loading the capital.json into a dataframe and read it we use pd.read_json("json file path") we named it capitaldf.

In [122]:
capitaldf = pd.read_json('capital.json')
capitaldf

,error,msg,data
0,False,countries and capitals retrieved,"{'name': 'Afghanistan', 'capital': 'Kabul', 'i..."
1,False,countries and capitals retrieved,"{'name': 'Aland Islands', 'capital': 'Marieham..."
2,False,countries and capitals retrieved,"{'name': 'Albania', 'capital': 'Tirana', 'iso2..."
3,False,countries and capitals retrieved,"{'name': 'Algeria', 'capital': 'Algiers', 'iso..."
4,False,countries and capitals retrieved,"{'name': 'American Samoa', 'capital': 'Pago Pa..."
...,...,...,...
246,False,countries and capitals retrieved,"{'name': 'Wallis and Futuna', 'capital': 'Mata..."
247,False,countries and capitals retrieved,"{'name': 'Western Sahara', 'capital': 'El-Aaiu..."
248,False,countries and capitals retrieved,"{'name': 'Yemen', 'capital': 'Sanaa', 'iso2': ..."
249,False,countries and capitals retrieved,"{'name': 'Zambia', 'capital': 'Lusaka', 'iso2'..."
250,False,countries and capitals retrieved,"{'name': 'Zimbabwe', 'capital': 'Harare', 'iso..."

To make

In [53]:
cap = pd.json_normalize(capitaldf['data'])
cap

                  name    capital iso2 iso3
0          Afghanistan      Kabul   AF  AFG
1        Aland Islands  Mariehamn   AX  ALA
2              Albania     Tirana   AL  ALB
3              Algeria    Algiers   DZ  DZA
4       American Samoa  Pago Pago   AS  ASM
..                 ...        ...  ...  ...
246  Wallis and Futuna   Mata Utu   WF  WLF
247     Western Sahara   El-Aaiun   EH  ESH
248              Yemen      Sanaa   YE  YEM
249             Zambia     Lusaka   ZM  ZMB
250           Zimbabwe     Harare   ZW  ZWE

[251 rows x 4 columns]

•	Find the subdataframe of the dfcode dataframe you created earlier on where the "Country Code" value is not in the "iso3" column of capitaldf. Hint: look up and use the .isin pandas Series method. Store this subdataframe in the variable dfnocode. Display dfnocode and explain in a markdown cell what you see and what this could be used for. 

To look for the country codes in dfcode that are not in the iso3 in dfcode we use

In [54]:
dfnocode = dfcode.loc[~dfcode['Country Code'].isin(cap['iso3'])]
dfnocode

,Country Name,Country Code
Energy use (kg of oil equivalent per capita),,
1,Africa Eastern and Southern,AFE
3,Africa Western and Central,AFW
7,Arab World,ARB
36,Central Europe and the Baltics,CEB
38,Channel Islands,CHI
49,Caribbean small states,CSS
61,East Asia & Pacific (excluding high income),EAP
62,Early-demographic dividend,EAR
63,East Asia & Pacific,EAS
64,Europe & Central Asia (excluding high income),ECA
65,Europe & Central Asia,ECS
68,Euro area,EMU
73,European Union,EUU
74,Fragile and conflict affected situations,FCS
95,High income,HIC
98,Heavily indebted poor countries (HIPC),HPC
102,IBRD only,IBD
103,IDA & IBRD total,IBT
104,IDA total,IDA
105,IDA blend,IDB
107,IDA only,IDX
110,Not classified,INX
128,Latin America & Caribbean (excluding high income),LAC
134,Latin America & Caribbean,LCN
135,Least developed countries: UN classification,LDC
136,Low income,LIC
139,Lower middle income,LMC
140,Low & middle income,LMY
142,Late-demographic dividend,LTE
153,Middle East & North Africa,MEA
156,Middle income,MIC
161,Middle East & North Africa (excluding high inc...,MNA
170,North America,NAC
181,OECD members,OED
183,Other small states,OSS
191,Pre-demographic dividend,PRE
197,Pacific island small states,PSS
198,Post-demographic dividend,PST
204,South Asia,SAS
215,Sub-Saharan Africa (excluding high income),SSA
217,Sub-Saharan Africa,SSF
218,Small states,SST
230,East Asia & Pacific (IDA & IBRD countries),TEA
231,Europe & Central Asia (IDA & IBRD countries),TEC
236,Latin America & the Caribbean (IDA & IBRD coun...,TLA
238,Middle East & North Africa (IDA & IBRD countries),TMN
240,South Asia (IDA & IBRD),TSA
241,Sub-Saharan Africa (IDA & IBRD countries),TSS
249,Upper middle income,UMC
259,World,WLD

In [55]:
subdf = df.loc[~df.index.isin(dfnocode['Country Name'])]
subdf

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,706.859408,679.861765,710.748498,732.316682,729.154373,764.968617,687.896260,801.329975,808.455840,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN