In [54]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            31 non-null     float64
 5   1961            31 non-null     float64
 6   1962            31 non-null     float64
 7   1963            31 non-null     float64
 8   1964            31 non-null     float64
 9   1965            32 non-null     float64
 10  1966            32 non-null     float64
 11  1967            32 non-null     float64
 12  1968            32 non-null     float64
 13  1969            32 non-null     float64
 14  1970            32 non-null     float64
 15  1971            151 non-null    float64
 16  1972            151 non-null    float64
 17  1973            151 non-null    float64
 18  1974            151 non-null    float64
 19  1975            151 non-null    float64
 20  1976            151 non-null    float64
 21  1977            151 non-null    float64
 22  1978            151 non-null    float64
 23  1979            151 non-null    float64
 24  1980            151 non-null    float64
 25  1981            152 non-null    float64
 26  1982            152 non-null    float64
 27  1983            152 non-null    float64
 28  1984            152 non-null    float64
 29  1985            153 non-null    float64
 30  1986            153 non-null    float64
 31  1987            153 non-null    float64
 32  1988            153 non-null    float64
 33  1989            153 non-null    float64
 34  1990            207 non-null    float64
 35  1991            177 non-null    float64
 36  1992            177 non-null    float64
 37  1993            177 non-null    float64
 38  1994            177 non-null    float64
 39  1995            179 non-null    float64
 40  1996            179 non-null    float64
 41  1997            179 non-null    float64
 42  1998            179 non-null    float64
 43  1999            179 non-null    float64
 44  2000            184 non-null    float64
 45  2001            184 non-null    float64
 46  2002            184 non-null    float64
 47  2003            184 non-null    float64
 48  2004            217 non-null    float64
 49  2005            218 non-null    float64
 50  2006            218 non-null    float64
 51  2007            218 non-null    float64
 52  2008            185 non-null    float64
 53  2009            185 non-null    float64
 54  2010            185 non-null    float64
 55  2011            185 non-null    float64
 56  2012            186 non-null    float64
 57  2013            186 non-null    float64
 58  2014            179 non-null    float64
 59  2015            40 non-null     float64
 60  2016            0 non-null      float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
 65  2021            0 non-null      float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

Read in the data into a pandas dataframe.
Display the usual basic information (datatypes, names, non-null values for columns) about the dataframe.

In [56]:
df["Indicator Name"]

0      Energy use (kg of oil equivalent per capita)
1      Energy use (kg of oil equivalent per capita)
2      Energy use (kg of oil equivalent per capita)
3      Energy use (kg of oil equivalent per capita)
4      Energy use (kg of oil equivalent per capita)
                           ...
261    Energy use (kg of oil equivalent per capita)
262    Energy use (kg of oil equivalent per capita)
263    Energy use (kg of oil equivalent per capita)
264    Energy use (kg of oil equivalent per capita)
265    Energy use (kg of oil equivalent per capita)
Name: Indicator Name, Length: 266, dtype: object

Display the dataframe.
Find out what values occur under "Indicator Name".

Set the name of the columns to the only value you found under "Indicator Name" (the columns and their labels remain the same!). (Apply the operation to your dataframe!)

In [57]:
dfcode = pd.DataFrame(df,columns=["Country Code","Country Name"])
dfcode

    Country Code                 Country Name
0            ABW                        Aruba
1            AFE  Africa Eastern and Southern
2            AFG                  Afghanistan
3            AFW   Africa Western and Central
4            AGO                       Angola
..           ...                          ...
261          XKX                       Kosovo
262          YEM                  Yemen, Rep.
263          ZAF                 South Africa
264          ZMB                       Zambia
265          ZWE                     Zimbabwe

[266 rows x 2 columns]

Create a new dataframeÂ dfcodeÂ which contains the "Country Code" and "Country Name" columns of your original dataframe. You will continue working with your original dataframe, in what follows, though.

In [58]:
df.drop(["Country Code","Indicator Name","Indicator Code"],inplace=True,axis=1)
df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Remove the "Country Code", "Indicator Name", "Indicator Code" columns. (Apply the operation to your dataframe!)

In [59]:
df.set_index("Country Name",inplace=True)
df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Make the column "Country Name" the index of your dataframe. (Apply the operation to your dataframe!)

In [60]:
df.dropna(axis = 1, how ='all',inplace=True)
df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN

Get rid of columns which contain no values. (Apply the operation to your dataframe!)

In [68]:
df.min(axis="index")
df.max(axis="index")
df.mean(axis="index")
df.median(axis="index")
df.std(axis="index")

1960    1997.388654
1961    1981.575639
1962    1971.311855
1963    1992.182413
1964    2089.070745
1965    2058.798654
1966    2027.148878
1967    2031.838164
1968    2149.346255
1969    2265.936663
1970    2293.518701
1971    3447.386189
1972    3403.961453
1973    3801.718254
1974    3554.714111
1975    2813.044126
1976    2963.624434
1977    2957.255165
1978    2787.941165
1979    2954.537684
1980    3021.344622
1981    2967.821489
1982    3103.064459
1983    3130.436511
1984    2755.397350
1985    2482.663978
1986    2480.309538
1987    2449.178088
1988    2470.006394
1989    2540.005715
1990    2264.053539
1991    2382.216038
1992    2358.029064
1993    2346.484845
1994    2370.463719
1995    2416.365990
1996    2464.692642
1997    2713.401942
1998    2814.774116
1999    2724.171048
2000    2698.630365
2001    2811.049490
2002    2858.788765
2003    2847.039782
2004    2772.128247
2005    2667.262780
2006    2718.487679
2007    2764.429890
2008    2866.536710
2009    2774.819394
2010    2794.014904
2011    2866.836003
2012    2825.271829
2013    2778.375344
2014    2831.067998
2015    2636.517633
dtype: float64

Display the basic statistics by year, incl. minimal, maximal, mean, median, standard deviation values. (Make sure you display these values for all the years!)

In [69]:
df.min(axis="columns")
df.max(axis="columns")
df.mean(axis="columns")
df.median(axis="columns")
df.std(axis="columns")

Country Name
Aruba                                 NaN
Africa Eastern and Southern     33.741279
Afghanistan                           NaN
Africa Western and Central      23.837452
Angola                          57.699718
                                  ...
Kosovo                         133.739458
Yemen, Rep.                     75.290318
South Africa                   238.607050
Zambia                          92.585850
Zimbabwe                        66.749616
Length: 266, dtype: float64

Display the basic statistics of your previous by country-statistics (i.e., the mean of country means, etc.).

In [73]:
df.sort_values(by=['2015', '2014'], ascending=False,inplace=False).head(30)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,...,12734.006623,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037
Canada,4251.435911,4307.820754,4451.560116,4694.120070,4903.607607,5153.932412,5272.664705,5557.291740,5871.520391,6091.100010,...,8239.946371,8213.389543,8194.880771,7797.121136,7788.560786,7911.554588,7733.411655,7743.725742,7897.855615,7631.341570
North America,5516.355617,5494.086457,5654.544543,5869.044418,6024.094790,6201.770587,6469.291448,6693.144005,6960.887266,7215.690803,...,7751.023404,7802.975780,7557.741461,7129.923196,7223.540273,7117.469938,6957.807503,6989.336549,7054.546992,6886.867395
United States,5641.740755,5612.079503,5774.586315,5986.783954,6136.938230,6307.890202,6591.340558,6809.820484,7073.478949,7332.368547,...,7697.652535,7758.165986,7488.081921,7056.783653,7161.426552,7029.954601,6872.027284,6905.598633,6960.683997,6803.996607
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,...,9170.532565,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,...,7111.856822,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,...,5833.773935,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603
Australia,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,...,5709.344668,5868.347097,5964.665776,5862.551944,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4412.527118,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857
Sweden,2698.792303,2742.123469,2887.236252,3080.414075,3273.508965,3437.540770,3636.643857,3630.194139,4000.823278,4303.223917,...,5529.077953,5472.135392,5379.959103,4883.200490,5427.925046,5274.643613,5269.485998,5146.533590,4966.435921,5102.785578
Post-demographic dividend,2812.288505,2848.671622,2969.271547,3127.901363,3237.046840,3322.748351,3451.971626,3598.324256,3789.854003,4002.759555,...,5062.557601,5052.125772,4956.090469,4689.926261,4839.709438,4715.829837,4645.969887,4634.860177,4581.856680,4761.342406
Belgium,2519.497320,2570.815623,2810.061148,3043.306993,3021.647212,3116.033563,3051.297429,3182.923458,3590.004258,3877.044364,...,5470.491824,5336.963212,5454.667159,5196.581983,5539.472223,5092.316147,4845.488295,4997.463306,4708.221218,4687.787049
High income,2761.770337,2799.712478,2918.228582,3069.538122,3175.606633,3260.613930,3386.580276,3528.933844,3715.710693,3925.175007,...,5120.124566,5117.250804,5041.483414,4801.117739,4955.046866,4833.306612,4792.683823,4780.491646,4745.009656,4605.417875
New Zealand,1685.788431,1763.259908,1791.461322,1924.229007,2176.168871,2241.415690,2286.231175,2188.693513,2319.300244,2374.228578,...,4047.318023,4054.495004,4082.723367,4073.238042,4225.094582,4177.025547,4357.809714,4360.305936,4553.026901,4431.514731
Netherlands,1825.934253,1879.150201,2081.011621,2268.427890,2349.083542,2493.153897,2605.566956,2762.802483,3042.809658,3362.787219,...,4925.112417,4908.898261,4848.013690,4722.106039,5025.320916,4636.701904,4646.255241,4600.182976,4325.523712,4233.043857
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3775.035083,4243.648000,4105.417736,3648.978843,4222.737190,4237.729191,4174.387766,4623.279112,4592.616457,4173.326583
OECD members,2666.979333,2702.066693,2815.604186,2959.832864,3060.624410,3142.695789,3263.071753,3397.790606,3575.071346,3773.843018,...,4442.476586,4430.226835,4342.310176,4124.844237,4234.289299,4135.236445,4082.581227,4075.025905,4020.681015,4130.433023
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4491.516134,4468.960352,4330.712691,4034.743510,4237.896741,4077.356059,4054.085018,3989.991414,3915.113582,3860.002964
Germany,1952.588632,1994.324633,2124.848539,2281.289928,2341.146313,2378.339732,2387.684875,2388.412347,2561.522585,2772.010929,...,4204.654689,3985.811955,4036.830781,3790.501152,3997.079421,3869.816229,3876.948104,3939.529563,3779.461921,3817.549415
Austria,1546.261468,1554.034906,1675.873621,1823.995225,1855.085155,1851.843564,1902.756408,1920.212124,2045.828123,2181.632309,...,4078.812226,4019.590170,4032.148426,3798.151168,4051.196020,3921.900515,3886.767732,3919.044419,3763.327903,3800.299420
France,1699.250872,1745.201546,1861.042066,1983.465817,2085.161125,2109.853284,2122.916294,2248.078179,2359.882863,2536.665017,...,4188.843259,4115.527240,4110.585978,3913.457942,4016.848071,3847.072200,3836.656299,3833.534259,3659.087795,3692.017833
Japan,867.203098,971.998193,1013.257624,1147.292732,1272.480553,1374.528657,1491.027708,1735.123229,1939.416361,2214.061417,...,4053.883437,4012.654245,3858.434521,3678.511133,3893.266604,3610.812169,3537.363170,3567.629354,3470.763129,3428.557216
Euro area,1403.942741,1455.391774,1567.862991,1686.600242,1762.650228,1816.950549,1865.290820,1941.655973,2093.376337,2262.920459,...,3839.733408,3757.199292,3730.766504,3511.673650,3627.005544,3486.357144,3445.622781,3405.038746,3266.227788,3329.025613
European Union,1487.664770,1541.096121,1653.838779,1764.478845,1840.896534,1885.710374,1940.340911,2010.271280,2157.420746,2330.845753,...,3618.557891,3554.913925,3533.836425,3321.340737,3448.023600,3335.592017,3288.247279,3242.639196,3123.595656,3278.352078
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3648.982893,3632.565326,3836.621785,3496.229535,3579.072461,3567.983036,3424.040145,3330.990076,3236.236045,3174.872585
Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3469.291394,3320.454722,3405.692968,3106.686165,3306.805544,3213.949767,3080.725034,3130.926574,2943.189160,3003.664220
Switzerland,1398.654836,1454.755116,1568.911060,1869.587498,1819.435337,1943.600516,1966.692137,2040.827900,2172.603883,2334.444030,...,3619.151639,3410.819883,3499.790982,3481.852845,3347.618356,3205.328271,3202.834337,3304.115438,3059.936749,2960.073389
Ireland,1318.812487,1396.466152,1412.729677,1453.962105,1522.194973,1511.904911,1629.591872,1767.425106,1881.149354,1974.588853,...,3424.160852,3416.030946,3293.884635,3149.565141,3152.003605,2865.374740,2853.064865,2814.982690,2741.574884,2819.875852
Denmark,1922.973673,2023.308390,2296.289563,2502.927644,2600.155821,2822.734845,3067.427832,3061.110107,3203.752279,3699.530444,...,3728.171039,3622.596833,3501.513847,3329.211067,3510.796850,3230.188031,3091.581580,3125.337760,2872.573547,2816.614565
Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2882.399025,2898.153368,3129.127764,2873.876109,3042.434021,2980.176157,3067.742494,2870.098765,2762.505934,2777.875324

Display the first thirty rows of your original dataframe after sorting by the values for theÂ **last year**Â inÂ **descending**Â order. (Do not apply sorting to your original dataframe, just display!)

What are some of the conclusions you can draw from the data you displayed (e.g., about the "countries" in the data)?

In [74]:
df["diff"] = df['2010'] - df['2000']
df.sort_values(by=['diff'], ascending=False,inplace=False).head(30)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,diff
Country Name,,,,,,,,,,,,,,,,,,,,,
Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14617.053002,14127.101926,14210.646965,15108.687010,14775.954587,14312.424618,14478.849205,14363.568632,NaN,7343.881646
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,...,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037,5931.617954
Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6660.344382,5690.189156,5499.199982,6154.474779,6771.205271,6767.616696,6490.216625,6040.616499,NaN,2817.166090
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5571.712447,6046.699050,6257.648402,6764.374759,6301.293308,6871.871170,6394.941937,6905.843440,NaN,2028.716721
Gabon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2555.489231,2723.347061,2883.601192,3129.067214,2429.224476,2072.644265,2913.865179,2694.206023,NaN,1931.836600
Kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4267.993060,4428.086933,3944.288267,4234.851064,4670.820952,4398.944146,4786.592755,4434.639121,NaN,1837.648729
Caribbean small states,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3836.671645,4918.350949,4826.415292,5025.504881,4959.112799,4821.447281,4867.920398,4814.845770,NaN,1773.999293
Kuwait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10489.010497,10810.806435,11134.258240,10721.485191,10221.195725,11105.981094,9906.500203,9178.890521,NaN,1569.504601
Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8606.720058,9337.116320,7925.996739,8337.752230,9837.472408,9599.184956,7522.385476,8672.898496,NaN,1180.641360
Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4594.928649,4587.453617,3970.286662,4459.246923,4769.818225,4847.750510,4883.145348,4893.413197,NaN,1164.474277
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,...,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603,1108.512430
China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1630.171029,1672.904120,1778.433519,1954.722556,2085.083022,2149.602569,2204.243299,2224.354898,NaN,1055.735243
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857,1042.816465
Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4678.886768,4757.849270,5123.919909,5150.692273,4996.667460,5107.211838,5456.164302,5812.281326,NaN,1037.278934
"Iran, Islamic Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2676.599556,2837.184429,2800.515594,2769.463567,2791.107676,2869.332532,2889.109214,3060.386414,NaN,894.791886
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4243.648000,4105.417736,3648.978843,4222.737190,4237.729191,4174.387766,4623.279112,4592.616457,4173.326583,848.028800
Late-demographic dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.299543,1852.785822,1880.869905,2034.994224,2137.071767,2195.672483,2234.731546,2301.614014,NaN,791.572455
East Asia & Pacific (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1386.827205,1421.593620,1498.363812,1631.970368,1715.661279,1767.453569,1814.619326,1887.990176,NaN,789.415631
East Asia & Pacific (excluding high income),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1378.853210,1414.106718,1489.743563,1621.115290,1701.233262,1752.517623,1797.398580,1869.566919,NaN,778.339797
Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1789.977151,1833.501315,1857.458950,1995.736941,2091.852637,2143.997018,2179.083948,2183.786621,NaN,721.507825
East Asia & Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1703.909360,1727.520249,1779.967973,1922.642567,1979.897250,2017.669184,2057.080497,2127.716468,NaN,707.439099
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,...,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559,652.641236
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1590.075915,1624.829320,1610.683482,1753.702491,1743.240681,1860.317246,1991.593088,1969.001201,NaN,605.452916
Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1939.128697,2044.854168,2070.082421,2118.735533,2091.226762,2201.454507,2162.027627,2353.273126,NaN,597.518172
Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4709.844887,4823.125995,4531.286463,4819.040782,5049.426631,5167.010353,5078.626342,4942.875483,NaN,594.763584
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1409.614831,1587.939144,1664.229532,1749.120356,1951.711105,1854.113430,1821.827935,2246.918388,NaN,590.489037
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,...,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125,566.591674
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2179.813891,2106.363689,2055.824686,2148.653551,2066.637569,2170.585832,2156.162010,2176.843306,NaN,530.193540
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN,496.432062
Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2708.468974,2777.663925,2591.760177,2601.450055,2670.651408,2678.531091,2979.643471,3003.451045,NaN,493.635326

Calculate the difference between the (0-filled) values for the **years 2010 and 2000** by country, sort it in a **descending** order, and display the **first 30 rows**. What are some of the conclusions you could draw from what you see?

In [90]:
df["mean_year"] = df.mean(axis="columns")
df["max_year"] = df.max(axis="columns")
df["percentage"] = (df["mean_year"]/df["max_year"])*100
df["percentage"]

Country Name
Aruba                                NaN
Africa Eastern and Southern    88.285410
Afghanistan                          NaN
Africa Western and Central     87.994168
Angola                         74.268765
                                 ...
Kosovo                         79.635364
Yemen, Rep.                    61.238620
South Africa                   81.347588
Zambia                         75.967667
Zimbabwe                       82.454427
Name: percentage, Length: 266, dtype: float64

Display the **mean** values by year as a percentage of the **maximal** values for that year (e.g., if the mean value for 1965 were 200, and the maximal for 1965 were 400, then for 1965, you should be displaying 50).

In [93]:
df2 = df.dropna(how="all",axis="index",inplace=False)
df2

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,diff,percentage,mean_year,max_year
Country Name,,,,,,,,,,,,,,,,,,,,,
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,755.371018,749.402188,728.721222,725.668196,740.766343,NaN,21.949477,88.285410,745.267403,844.156930
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,596.785228,610.016077,624.240458,622.117525,611.437410,NaN,48.604176,87.994168,549.295199,624.240458
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,520.962336,521.780703,552.363766,533.760887,544.609443,NaN,82.412424,74.268765,492.705599,663.408901
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,729.154373,764.968617,687.896260,801.329975,808.455840,NaN,148.659609,63.434047,729.197265,1149.536096
Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1784.999810,1750.717791,1850.564927,1807.279853,1962.955028,NaN,489.276887,58.405897,1146.481482,1962.955028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN,496.432062,79.635364,1124.031604,1411.472920
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,338.260133,277.833544,244.437747,328.688996,NaN,NaN,65.598657,61.238620,219.627610,358.642325
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN,343.213215,81.347588,2399.878812,2950.153610
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,604.405664,619.400538,630.330018,644.976994,NaN,NaN,4.371505,75.967667,672.746470,885.569471
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,744.932243,795.054071,824.241799,845.359435,NaN,NaN,-97.433297,82.454427,823.111842,998.262763

Display the countries (not the subdataframe, just the countries!) where the values forÂ *all*Â years are missing.

Display the subdataframe with the countries whose final year's values are bigger than the **final** year values' mean.

In [96]:
capitaldf = pd.read_json("capital.json")
capitaldf = pd.DataFrame(list(capitaldf["data"]),columns=["name","capital","iso2","iso3"])

            name iso2 iso3
0    Afghanistan   AF  AFG
1  Aland Islands   AX  ALA

Load the "capital.json" file, and arrive at a dataframeÂ capitaldfÂ containing the **name, capital, iso2, iso3** information (these three should end up as the columns) for every country in it.

In [97]:
dfnocode = dfcode.copy()
dfnocode.head(3)

  Country Code                 Country Name
0          ABW                        Aruba
1          AFE  Africa Eastern and Southern
2          AFG                  Afghanistan

Find the subdataframe of theÂ dfcodeÂ dataframe you created earlier on where the "Country Code" value isÂ **not**Â in the "iso3" column ofÂ capitaldf. Hint: look up and use theÂ .isinÂ pandas Series method. Store this subdataframe in the variableÂ dfnocode. DisplayÂ dfnocodeÂ and explain in a markdown cell what you see and what this could be used for.

In [7]:
test = []
for x in range(0,4600):
    for y in range(x,4600):
        test.append([x,y])